/* azzeramento parametri */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* formattazione generale */
.container{
    width: 60%;
    margin: auto;
    font-size: 20px;
}

a{
    text-decoration: none;
}

/* formattazione header */
header{
    background-color: #ff6900;
    color: white;
    height: 90px;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

#main_header_nav{
    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main_header_nav div{
    width: 20%;
}

#main_header_nav ul{
    list-style: none;
    /* flexxbox */
    display: flex;
    gap: 10%;
}

#main_header_nav a{
    color: white;
}

#logo img{
    max-height: 80%;
    max-width: 80%;
    vertical-align: middle;
}

.icone{
    text-align: right;
}

.icone span{
    margin: 0 8px;
}

/* formattazione corpo principale */
main .container{
    margin-top: 50px;
    padding-top: 130px;
}

.flex{
    /* flexbox */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    max-width: 100%;

    background-color: yellow;
}

.item{
    width: 30%;
    position: relative;
}

.item img{
    max-width: 100%;
}

.lable{
    position: absolute;
    bottom: 50px;
    left: 0;
    color: white;
}

.lable span{
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.discount{
    background-color: red;
}

.ecology{
    background-color: green;
}